body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;}
  
      .action_btn {
  float: right;
  width: 200px;
  margin: 0 auto;
  display: inline;}

  .createu {
    max-width: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    text-align: center;
  }
  .createu label {
    font-weight: bold;
    text-align: left;
    display: block;
  }
  .createu input, .createu textarea, .createu select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 2px solid #000000;
    background-color: transparent;
    border-radius: 8px;
    font-size: large;
    line-height: 28px;
    box-sizing: border-box;
    display: block;
  }

  .create {
    column-count: 2;
    max-width: auto;
    column-gap: 50px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    
  }
  .create label {
    font-weight: bold;
    text-align: left;
    display: block;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    border: 2px solid #000000;
    background-color: transparent;
    border-radius: 8px;
    font-size: large;
    line-height: 28px;
  }
  .createContainer button {
    background: #2bbe2b;
    color: #fff;
    border: 0;
    font-size: 20px;
    padding: 13px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  .logo {
    left: 0;
    float: left;
    margin-right: auto;
    margin-left: 10px;
  }
  
  .buttonsBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1;
    overflow: visible;
    background-color: #8b0000;
  }
  
  .navlink {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-right: 15px;
    display: inline-block;
  }